.container{
    margin-bottom: 100px;
}

.banner-bg{
    background-color: #fceae8;
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #FF136F;
}

.buy-now-btn{
    background-image: linear-gradient(to bottom,#FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 30px, 25px;
    
}

.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;

    border-radius: 10px;
}

.cat-1{
    background-image: linear-gradient(to left, #FFD019 0%, #FF9D36 100%);
    
}

.cat-2{
    background-image: linear-gradient(to bottom,#FF589B 0%, #FF136F 100%);
}

.cat-3{
    background-image: linear-gradient(to right, #438AFF 0%,#3F07F8 100%);
}

.categories h1{
    color: white;
}

.categories img{
    width: 100px;
}

/* card */
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}

.card-footer{
    border-top: none;
}

#subscribe{
    height: 300px;
}

#subscribe h6{
    color: gray;
}

/* footer */
footer{
    text-align: center;
}